@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* header start */

.bars {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

ul li {
    font-size: 20px;
    font-weight: bold;
}

header ul button {
    background-color: #4CAF4F;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header ul button:hover {
    background-color: #237D31;
}

/* header end */

/* main start */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 150px;
    background-color: rgb(236, 236, 236);
}

.left h1 {
    color: #4D4D4D;
    font-size: 70px;
}

.left h1 span {
    color: #4CAF4F;
}

.left p {
    color: black;
    font-size: 18px;
    padding: 12px 0px 20px 0px;
}

.left button {
    background-color: #43a046;
    border: none;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.left button:hover {
    background-color: #237D31;
}

/* main end */

/* section-one start */

.Section-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.Section-one h1 {
    font-size: 35px;
    color: #4D4D4D;
}

.Section-one p {
    color: #717171;
    font-size: 14px;
}

.sec1-image {
    display: flex;
    gap: 100px;
    padding: 10px 0px;
}

.heading1 h1 {
    color: #4D4D4D;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.heading1 p {
    color: #717171;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}

/* section-one end */


/* section two start */


.Section-two {
    padding: 25px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 200px;
    background-color: purple;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #e8e6e1;
}

.card h1 {
    font-size: 25px;
    color: #4D4D4D;
}

.card p {
    font-size: 14px;
    color: #717171;
}

/* Section two end */


/* section three start */
.Section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

.secthree-right {
    width: 600px;
}

.secthree-right h1 {
    font-size: 30px;
    color: #4D4D4D;
}

.secthree-right p {
    color: #717171;
    padding: 10px 0px;
}

.secthree-right button {
    border: none;
    background-color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}


/* section three end */

/* Section four start */
.Section-four {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: rgb(238, 238, 238);
}

.four-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 600px;
    padding: 30px 20px;
}

.left-top-heading {
    font-size: 45px;
    color: #4D4D4D;
}

.left-bottom-heading {
    font-size: 45px;
    color: #43a046;
}

.four-left p {
    color: #717171;
    font-weight: 500;
}

.four-right {
    display: flex;
    gap: 50px;
}

.four-right h1 {
    font-size: 30px;
    color: #4D4D4D;
}

.four-right p {
    color: #717171;
}


/* Section four end */

/* Section five start */
.Section-five {
    text-align: center;
    padding: 30px 0px;
}

.Section-five h1 {
    color: #263238;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 10px;
}

.Section-five button {
    background-color: #43a046;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.Section-five button:hover {
    background-color: #237D31;
}

/* Section five end */









@media screen and (min-width:0px) and (max-width:480px) {

    /* Header */
    header {
        padding: 20;
    }

    header ul {
        display: none;
    }

    header .logo {
        width: 100px;
    }

    /* Header */

    /* Main start */

    .main {
        display: flex;
        justify-content: center;
        padding: 30px;
        gap: 0px;
    }

    .right img {
        width: 150px;
    }

    .left h1 {
        font-size: 20px;
        width: 200px;
    }

    .left p {
        font-size: 10px;
    }

    .left button {
        letter-spacing: 1px;
        font-weight: 400;
        padding: 5px 15px;
        font-size: 10px;
    }

    .bars {
        display: block;
    }

    /* main end */

    /* section-one start */
    .Section-one h1 {
        font-size: 20px;
    }

    .Section-one p {
        font-size: 10px;
    }

    .sec1-image {
        display: flex;
        padding: 0px;
        gap: 15px;
    }

    /* Section-one end */

    /* Section-two start */

    .Section-two {

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Section-two end */


    /* Section-three start */
    .Section-three {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px;
    }

    .secthree-left img {
        display: none;
    }


    .secthree-right {
        width: 500px;
    }

    .secthree-right h1 {
        font-size: 25px;
        text-align: center;
    }

    .secthree-right p {
        font-size: 12px;
        text-align: center;
    }

    .secthree-right button {
        margin-left: 130px;
    }


    /* Section-three end */


    /* Section four start */
    .Section-four {
        padding: 50px 0px;
        background-color: rgb(238, 238, 238);
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .four-left {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 400px;
        /* padding: 30px 20px; */
    }

    .left-top-heading {
        text-align: center;
        font-size: 40px;
        color: #4D4D4D;
    }

    .left-bottom-heading {
        text-align: center;
        font-size: 30px;
        color: #43a046;
    }

    .four-left p {
        text-align: center;
        padding: 20px 0px;
        color: #717171;
        font-weight: 500;
    }

    .four-right {
        display: flex;
        justify-content: center;
    }

    /* Section four end */

    /* Section five start */
    .Section-five {
        text-align: center;
        padding: 30px 0px;
    }

    .Section-five h1 {
        color: #263238;
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .Section-five button {
        background-color: #43a046;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 200;
        font-size: 10px;
        transition: all 0.3s ease;
    }

    .Section-five button:hover {
        background-color: #237D31;
    }

    /* Section five end */
}